<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.proyectotarea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CargaDocenteActualizarActivity"></activity>
        <activity android:name=".CargaDocenteConsultarActivity" />
        <activity android:name=".CargaDocenteEliminarActivity" />
        <activity android:name=".CargaDocenteInsertarActivity" />
        <activity android:name=".CargaDocenteMenuActivity" />
        <activity android:name=".SolicitudEliminarActivity" />
        <activity android:name=".SolicitudConsultarActivity" />
        <activity android:name=".SolicitudActualizarActivity" />
        <activity android:name=".SolicitudInsertarActivity" />
        <activity android:name=".SolicitudMenuActivity" />
        <activity android:name=".CargoInsertarActivity" />
        <activity android:name=".CargoMenuActivity" />
        <activity android:name=".DocenteConsultarActivity" />
        <activity android:name=".DocenteEliminarActivity" />
        <activity android:name=".DocenteActualizarActivity" />
        <activity android:name=".DocenteInsertarActivity" />
        <activity android:name=".DocenteMenuActivity" />
        <activity android:name=".modelos.DocenteMenuActivity" />
        <activity android:name=".TipoAConsultarActivity" />
        <activity android:name=".TipoAActualizarActivity" />
        <activity android:name=".TipoAEliminarActivity" />
        <activity android:name=".TipoAInsertarActivity" />
        <activity android:name=".HorarioNoConsultarActivity" />
        <activity android:name=".HorarioNoActualizarActivity" />
        <activity android:name=".HorarioNoEliminarActivity" />
        <activity android:name=".HorarioNoInsertarActivity" />
        <activity android:name=".CicloConsultarActivity" />
        <activity android:name=".CicloActualizarActivity" />
        <activity android:name=".CicloEliminarActivity" />
        <activity android:name=".CicloInsertarActivity" />
        <activity android:name=".ActividadConsultarActivity" />
        <activity android:name=".ActividadActualizarActivity" />
        <activity android:name=".ActividadEliminarActivity" />
        <activity android:name=".ActividadInsertarActivity" />
        <activity android:name=".TipoAMenuActivity" />
        <activity android:name=".HorarioNoMenuActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".ActividadMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>