<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.proyectotarea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CarreraMenuActivity"></activity>
        <activity android:name=".PensumMenuActivity" />
        <activity android:name=".AsignaturaMenuActivity" />
        <activity android:name=".EscuelaMenuActivity" />
        <activity android:name=".AsignaturaInsertarActivity" />
        <activity android:name=".PensumEliminarActivity" />
        <activity android:name=".PensumActualizarActivity" />
        <activity android:name=".PensumConsultarActivity" />
        <activity android:name=".PensumInsertarActivity" />
        <activity android:name=".EscuelaEliminarActivity" />
        <activity android:name=".EscuelaActualizarActivity" />
        <activity android:name=".EscuelaConsultarActivity" />
        <activity android:name=".EscuelaInsertarActivity" />
        <activity android:name=".CarreraEliminarActivity" />
        <activity android:name=".CarreraActualizarActivity" />
        <activity android:name=".CarreraConsultarActivity" />
        <activity android:name=".CarreraInsertarActivity" />
        <activity android:name=".modelos.Pensum" />
        <activity android:name=".modelos.Escuela" />
        <activity android:name=".modelos.Carrera" />
        <activity android:name=".AsignaturaConsultarActivity" />
        <activity android:name=".modelos.Asignatura" />
        <activity android:name=".AsignaturaConsultaActivity" />
        <activity android:name=".DispCicloInsertarActivity" />
        <activity android:name=".DispCicloMenuActivity" />
        <activity android:name=".TipoLocalInsertarActivity" />
        <activity android:name=".TipoLocalMenuActivity" />
        <activity android:name=".DispHorarioModificarActivity" />
        <activity android:name=".DispHorarioEliminarActivity" />
        <activity android:name=".DispHorarioConsultarActivity" />
        <activity android:name=".DispHorarioInsertarActivity" />
        <activity android:name=".DispHorarioMenuActivity" />
        <activity android:name=".HorarioModificarActivity" />
        <activity android:name=".HorarioEliminarActivity" />
        <activity android:name=".HorarioConsultarActivity" />
        <activity android:name=".HorarioInsertarActivity" />
        <activity android:name=".HorarioMenuActivity" />
        <activity android:name=".LocalActualizarActivity" />
        <activity android:name=".LocalEliminarActivity" />
        <activity android:name=".LocalConsultarActivity" />
        <activity android:name=".LocalInsertarActivity" />
        <activity android:name=".LocalMenuActivity" />
        <activity android:name=".CargaDocenteActualizarActivity" />
        <activity android:name=".CargaDocenteConsultarActivity" />
        <activity android:name=".CargaDocenteEliminarActivity" />
        <activity android:name=".CargaDocenteInsertarActivity" />
        <activity android:name=".CargaDocenteMenuActivity" />
        <activity android:name=".SolicitudEliminarActivity" />
        <activity android:name=".SolicitudConsultarActivity" />
        <activity android:name=".SolicitudActualizarActivity" />
        <activity android:name=".SolicitudInsertarActivity" />
        <activity android:name=".SolicitudMenuActivity" />
        <activity android:name=".CargoInsertarActivity" />
        <activity android:name=".CargoMenuActivity" />
        <activity android:name=".DocenteConsultarActivity" />
        <activity android:name=".DocenteEliminarActivity" />
        <activity android:name=".DocenteActualizarActivity" />
        <activity android:name=".DocenteInsertarActivity" />
        <activity android:name=".DocenteMenuActivity" />
        <activity android:name=".TipoAConsultarActivity" />
        <activity android:name=".TipoAActualizarActivity" />
        <activity android:name=".TipoAEliminarActivity" />
        <activity android:name=".TipoAInsertarActivity" />
        <activity android:name=".HorarioNoConsultarActivity" />
        <activity android:name=".HorarioNoActualizarActivity" />
        <activity android:name=".HorarioNoEliminarActivity" />
        <activity android:name=".HorarioNoInsertarActivity" />
        <activity android:name=".CicloConsultarActivity" />
        <activity android:name=".CicloActualizarActivity" />
        <activity android:name=".CicloEliminarActivity" />
        <activity android:name=".CicloInsertarActivity" />
        <activity android:name=".ActividadConsultarActivity" />
        <activity android:name=".ActividadActualizarActivity" />
        <activity android:name=".ActividadEliminarActivity" />
        <activity android:name=".ActividadInsertarActivity" />
        <activity android:name=".TipoAMenuActivity" />
        <activity android:name=".HorarioNoMenuActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".ActividadMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>